<div class="container">
  <h1 class="title">Siku Njema-Quotes</h1>
  <p class="p1" style="color: white">
    Welcome to your daily affirmation quotes. Keeping you motivated all day
    long!
  </p>
</div>
<div class="container">
  <h2 style="color: #c5cbe3">Popular Quotes</h2>
  <div>
    <div class="row">
      <div class="col-md-6">
        <div *ngFor="let quote of quotes; let i = index">
          <div
            *ngIf="
              highVotes() === quote.upvotes && quote.upvotes > 0;
              then highlight
              else empty
            "
          ></div>
          <ng-template #highlight>
            <div appHighlight>
              <p class="q-text">{{ quote.quote }}</p>
            <button class="btn btn-primary" (click)="showDetails(i)">
              {{ quote.toggleText }}
            </button>
            <app-quotes-details
              *ngIf="quote.details === true"
              [quote]="quote"
              (delete)="delete($event, i)"
            ></app-quotes-details>
            </div>
            
          ></ng-template>
          <ng-template #empty
            ><p class="q-text">{{ quote.quote }}</p>
            <button class="btn btn-primary" (click)="showDetails(i)">
              {{ quote.toggleText }}
            </button>
            <app-quotes-details
              *ngIf="quote.details === true"
              [quote]="quote"
              (delete)="delete($event, i)"
            ></app-quotes-details
          ></ng-template>
        </div>
      </div>

      <div class="col-md-6">
        <app-quotes-form (addQuote)="addQuote($event)"></app-quotes-form>
      </div>
    </div>
  </div>
</div>

<!-- <div>
  <footer>
    <div class="row">
      <h3 style="color:white">Contact Us</h3><br>
      <p><i class="fa-brands fa-github fa-2xl">Bel-94</i></p>
      <p><i class="fa-brands fa-facebook fa-2xl">Belinda Ntinyari</i></p>
      <p><i class="fa-duotone fa-circle-envelope">ntinyaribelinda@gmail.com</i></p>
    </div>
  </footer>
</div> -->
