/* You can add global styles to this file, and also import other style files */

body {
    background-image: url('src/assets/img bg2.jpg');
    background-size: cover;
}

.p1 {
    font-weight: bold;
    font-size: larger;
    font-style: italic;
}

.q-text {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;

}